{% extends '_layouts/default/default.html.twig' %}

{% block content %}
<section id='main'>
	<div class='container'>
		<div class="row">
			<div class="span10">
    			<h4>SLBR Quiz</h4>
    			
    			<p><strong>Your score: {{ quiz.result }}%</strong></p>
    			{% set image = '' %}
    			{% if quiz.result < 25 %}
    				{% set image = 'img/apps/quiz/0_25.jpg' %}
    			{% elseif quiz.result > 25 and quiz.result < 50 %}
    			    {% set image = 'img/apps/quiz/25_50.jpg' %}
			    {% elseif quiz.result > 50 and quiz.result < 75 %}
			    	{% set image = 'img/apps/quiz/50_75.jpg' %}
			    {% else %}
			    	{% set image = 'img/apps/quiz/75_100.jpg' %}
			    {% endif %}
    			<div>
    				<img src="{{ site_url(image) }}" title="My Brazilian Portuguese skill level!" />
    			</div>
    			<div>
    				<a href="http://www.facebook.com/sharer.php?u={{ site_url(image) }}" target="_blank">
    					<img src="{{ site_url('img/apps/quiz/share_facebook.png') }}" title="Share on FaceBook!" />
    				</a>
    			</div>
    			<p><small>
    				{% if quiz.result < 25 %}
    				<strong>0-25%: beginner</strong><br/>
    				{% else %}
    				0-25%: beginner<br/>
    				{% endif %}
    				{% if quiz.result > 25 and quiz.result < 50 %}
    				<strong>25-50%: intermediate</strong><br/>
    				{% else %}
    				25-50%: intermediate<br/>
    				{% endif %}
    				{% if quiz.result > 50 and quiz.result < 75 %}
    				<strong>50-75%: advanced</strong><br/>
    				{% else %}
    				50-75%: advanced<br/>
    				{% endif %}
    				{% if quiz.result > 75 %}
    				<strong>75-100%: you speak like a Brazilian! (pun intended)</strong>
    				{% else %}
    				75-100%: you speak like a Brazilian! (pun intended)
    				{% endif %}
    				</small>
    			</p>
    			<hr />
    			{% set i = 0 %}
    			{% for question in quiz.questions %}
    			<div class='quiz_question'>
    				<h5>{{ i+1 }} - {{ question.text }}</h5>
    				{% if question.correct is defined and question.correct %}
    					<div><span class="label label-success">Correct!</span></div>
    				{% else %}
    					<div><span class="label label-important">Wrong!</span></div>
    					<p>Right answer: {{ question.answer }}</p>
    				{% endif %}
    				{% for alternative in question.alternatives %}
    					{% if question.alternative is defined and question.alterantive == alternative.expression_id %}
    						<label style="font-size: 0.9em"><input type="radio" id="question_{{ i }}" name="question_{{ i }}" value="{{ alternative.expression_id }}" checked="checked"/> {{ alternative.description }}</label>
    					{% else %}
    						<label style="font-size: 0.9em"><input type="radio" id="question_{{ i }}" name="question_{{ i }}" value="{{ alternative.expression_id }}" /> {{ alternative.description }}</label>
    					{% endif %}
    				{% endfor %}
    				{% set i = i + 1 %}
    			</div>
    			{% endfor %}
    			<div style="padding-top: 10px;">
    				{{ anchor('/apps/quiz/home', 'Try again!', 'class="btn btn-info"') }}
    				<br/>
    				<br/>
    			</div>
    		</div>
    		{# 2 columns wide #}
    		{% include '_layouts/default/sidebar.html.twig' %}
    	</div>
	</div>
</section>
{% endblock %}