<div class='entry'>
	<div class='text'>
		<div>
			<span class='expression'>
    			{% if nolink %}
    			{{ expression.text }}
    			{% else %}
    			<a href="{{ base_url() }}expression/define?e={{ rawurlencode(expression.text) }}">
    				{{ expression.text }}
    			</a>
    			{% endif %}
    			&nbsp;<a class='tts' href="http://translate.google.com/translate_tts?ie=UTF-8&amp;tl=pt&amp;q={{ rawurlencode(expression.text) }}"><i class='icon-play'></i></a>
			</span>
			<div class='rating'>
				{% if expression.likes is defined and expression.dislikes is defined %}
					{{ form_open('rating/expression/' ~ expression.definition_id) }}
					<small>
						<input type="hidden" name="_method" value="put" />
						<input type="hidden" name="definition_id" value="{{ expression.definition_id }}" />
						<span class="like_count">{{ expression.likes }} </span> 
						<input type="hidden" name="rating" value="0" /> ups, 
						<span class="dislike_count">{{ expression.dislikes }} </span> 
    					downs <a href="#" class="like"><i class="icon-thumbs-up">&nbsp;</i>
    					</a> <a href="#" class="dislike"><i class="icon-thumbs-down">&nbsp;</i>
    					</a>
    				</small>
    				{{ form_close() }}
    			{% endif %}
			</div>
			<div class="date">
				<small>{{ expression.create_date }}</small>
			</div>
		</div>
	</div>
	<div class='description'>
		<p>{{ parse_expression(expression.description) }}</p>
	</div>
	<div class='example'>
		<p>{{ parse_expression(expression.example) }}</p>
	</div>
	<div class='tags'>
		<small>
    		<strong>Tags</strong>&nbsp;
    		{% if expression.tags is defined and count(expression.tags) > 0 %}
    			{% for tag in expression.tags %}
    				{% set tag = trim(tag) %}
    		<span><a class="label label-info" href="{{ base_url() }}expression/define?e={{ tag }}">{{ tag }}</a></span> 
    			{% endfor %}
    		{% endif %}
		</small>
	</div>
	<div class='authorship'>
		<small>
    		<strong>By</strong> <span class="">@{{ expression.create_user }}
    		</span> 
    		<span class='share'>
    			<a class="label label-inverse" href="{{ base_url() }}expression/{{ expression.definition_id }}/share">share this</a>
    		</span> 
    		<span class='share'>
    			<a class="label label-inverse" href="{{ base_url }}expression/{{ expression.definition_id }}/embed">embed</a> 
    		</span>
		</small>
	</div>
	<div class='entry-media'>
		<small>
    	    <strong>Media</strong> <span class='share'>
    	        <a class='btn btn-mini btn-media' href="{{ base_url() }}expression/{{ expression.definition_id }}/video">+ add video</a> 
    	      </span>
    	</small>
	</div>
	{% if expression.videos is defined and count(expression.videos) > 0 %}
	<h5>Videos for "{{ expression.text }}"</h5>
	    {% for video in expression.videos %}
	    	{% set url = video.url %} {# http://youtu.be/hJGSHpmYTQA?t=14s #}
	    	{% set video_id = '' %}
	    	{% if  preg_match('%(?:youtube(?:-nocookie)?\.com/(?:[^/]+/.+/|(?:v|e(?:mbed)?)/|.*[?&]v=)|youtu\.be/)([^"&?/ ]{11})%i', url, match) %}
	    		{% set video_id = match[1] %}
	    	{% endif %}
	    	{% set t = '' %}
	    	{% if (preg_match('%(?:t=)([0-9]+)%i', url, match)) %}
	    		{% set t = match[1] %}
	    	{% endif %}
    		{% if video_id is defined and video_id != '' %}
    	<p>
    	    <input type="hidden" name="media_id" id="media_id" value="{{ video.id }}" />
    	    <iframe width="560" height="315" src="http://www.youtube.com/embed/{{ video.id }}?wmode=opaque{% if t is defined and t > 0 %}&start={{ t }}{% endif %}" frameborder="0" allowfullscreen></iframe>
    	</p>
    		{% endif %}
		{% endfor %}
	{% endif %}
</div>