{% extends '_layouts/blank/blank.html.twig' %}

{% block content %}
<section id='main' style='margin-top: 0px; padding-top: 0px;'>
	<div class='container'>
		<div class="row">
			<div id="share" class='span10'>
				<div style="margin: 0px; padding: 0px;">
            		<div class='text'>
            			<div>
            				<span class='expression'>{{ expression.text }}</span>
            				<div class='rating'>
            					{{ form_open('rating/expression/'~expression.definition_id) }}
            					<input type="hidden" name="_method" value="put" />
            					<input type="hidden" name="definition_id" 
            						value="{{ expression.definition_id }}" /> <span
            						class="like_count">{{ expression.likes }} </span> <input
            						type="hidden" name="rating" value="0" /> ups, <span
            						class="dislike_count">{{ expression.dislikes }} </span>
            					downs <a href="#" class="like"><i class="icon-thumbs-up">&nbsp;</i>
            					</a> <a href="#" class="dislike"><i class="icon-thumbs-down">&nbsp;</i>
            					</a>
            					{{ form_close() }}
            				</div>
            				<div class="date">
            					{{ expression.create_date }}
            				</div>
            			</div>
            		</div>
            		<div class='description'>
            			<p>
            				{{ parse_expression(expression.description) }}
            			</p>
            		</div>
            		<div class='example'>
            			<p>
            				{{ parse_expression(expression.example) }}
            			</p>
            		</div>
            		<div class='tags'>
            			<strong>Tags</strong>&nbsp;
            			{% if expression.tags is defined and count(expression.tags) > 0 %}
            				{% for tag in expression.tags %}
            			<span class="tag box">{{ tag }} </span>
            				{% endfor %}
            			{% endif %}
            		</div>
            		<div class="authorship">
            			<strong>By</strong> <span class="author box">{{ expression.create_user }}
            			</span>
            		</div>
            		<br />
            		<div id="contact">
            			{{ form_open(current_url(), {'class': 'form-inline'}) }}
            			<div class="controls">
            				<h5>Add YouTube video</h5>
            			</div>
            			<div class="control-group-pad">
            				{{ form_label('YouTube URL', 'url', {'class': 'control-label'}) }}
            				<div class="controls">
            					{{ form_input({'id': 'url', 'name': 'url', 'style': 'width: 90%;'}, set_value('url')) }}
            					<span style='color: red;'>{{ form_error('url') }}{{ errors['url'] }}</span>
            				</div>
            			</div>
            			<div class="control-group-pad">
            				{{ form_label('Why is the video related to this expression?', 'reason', {'class': 'control-label'}) }}
            				<div class="controls">
            					{{ form_input({'id': 'reason', 'name': 'reason', 'style': 'width: 90%;'}, set_value('reason')) }}
            					<span style='color: red;'>{{ form_error('reason') }} {{ errors['reason'] }}
            					</span>
            				</div>
            			</div>
            			<hr />
            			<div class="row">
            				<div class="center">
            					{{ form_submit('submit', 'Send', 'class="btn btn-primary"') }}
            				</div>
            			</div>
            			<br />
            			{{ form_close() }}
            		</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script type='text/javascript'>
templatecallback = function() {
	base_url = '{{ site_url('/') }}';
}
</script>
{% endblock %}