<section id='nav-header'>
	<div class='container'>
		<div class='row'>
			<div class='span12'>
				<ul>
					<li><a class='btn btn-mini btn-menu' href='{{ base_url() }}'>SLBR Home</a></li>
            		<li><a class='btn btn-mini' href='{{ site_url('/blog/') }}'>Blog</a></li>
            		<li><a class='btn btn-mini' href='{{ site_url('/apps/sentences/') }}'>Sentences</a></li>
            		<li><a class='btn btn-mini' href='{{ site_url('/apps/quiz/') }}'>Quiz</a></li>
            		<li><a class='btn btn-mini' href='{{ site_url('/links/') }}'>Links</a></li>
            		<li><a class='btn btn-mini' href='http://twitter.com/SpeakLikeABR'>@SpeakLikeABR</a></li>
            		<li><a class='btn btn-mini' href='http://facebook.com/SpeakLikeABrazilian'>FaceBook Fan Page</a></li>
            		<li><a class='btn btn-mini btn-info' href='{{ site_url('/moderators/') }}'>Moderators area</a></li>
            		<div id="fb-root"></div>
            		<!-- div class="fb-like" data-href="https://www.facebook.com/SpeakLikeABrazilian" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div -->
            	</ul>
			</div>
		</div>
	</div>
</section>
<section id='header'>
	<div class='container'>
        <div class='row'>
            <div class='span12'>
				<a href="{{ base_url() }}">Speak Like A Brazilian<img src="{{ base_url() }}img/slbr.png" class="logo" alt="Speak Like A Brazilian | Learn Portuguese" title="Speak Like A Brazilian | Learn Portuguese" /></a>
			</div>
			<div style='display: inline; float: right; position: fixed; top: 5%; right: 5%;'>
            {% if is_logged_in == true %}
            	{{ anchor('/admin/', 'Admin', 'class="btn btn-primary" style="line-height: 20px; height: 20px; font-size: 18px; color: white;"') }}
            {% endif %}
            	{{ anchor('auth/logout', 'Logout', 'class="btn btn-warning" style="line-height: 20px; height: 20px; font-size: 18px; color: white;"') }}
            </div>
	    </div>
	    <div class='row'>
			<div class='span12 input-append' id="search">
				{{ form_open('search', {'class': 'form-search', 'method': 'get'}) }}
				<input 
					class="search-query input-xxlarge" 
					type="text" 
					id="q" 
					name="q" 
					value="{{ query }}" 
					placeholder="Search for expressions in English or Portuguese" />
				<button type="submit" class="btn btn-inverse"><i class='icon-search'></i> Search</button>
				{{ form_close() }}
			</div>
		</div>
    </div>
</section>
<section id='menu'>
    <div class='container-fluid'>
    	{% if success is defined and success is not empty %}
			<div class='row-fluid'>
				<div class='span12'>
			{% if success[0] is defined %}
				{% for key, value in success %}
					<div class="alert alert-success" style='margin-bottom: 0px'>
						<button type="button" class="close" data-dismiss="alert">&times;</button>
		    			{{ value }}
		    		</div>
		   		{% endfor %}
		    {% else %}
					<div class="alert alert-success" style='margin-bottom: 0px'>
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						{{ success }}
					</div>
			{% endif %}
					<br />
				</div>
		    </div>
		{% endif %}
		{% if errors is defined and errors is not empty %}
			<div class='row-fluid'>
				<div class='span12'>
			{% if errors[0] is defined %}
				{% for key, value in errors %}
					<div class="alert alert-error" style='margin-bottom: 0px'>
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						{{ value }}
					</div>
				{% endfor %}
			{% else %}
					<div class="alert alert-error" style='margin-bottom: 0px'>
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						{{ errors }}
					</div>
			{% endif %}
					<br />
				</div>
			</div>
		{% endif %}
		{% if warning is defined and warning is not empty %}
			<div class='row-fluid'>
				<div class='span12'>
			{% if warning[0] is defined %}
				{% for key, value in warning %}
					<div class="alert" style='margin-bottom: 0px'>
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						{{ value }}
					</div>
				{% endfor %}
		    {% else %}
					<div class="alert" style='margin-bottom: 0px'>
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						{{ warning }}
					</div>
			{% endif %}
					<br />
				</div>
			</div>
		{% endif %}
        <div class='container-fluid'>
	        <div class='row-fluid'>
	    	    {% include '_layouts/default/menu.html.twig' %}
	        </div>
			<div class='row-fluid'>
	            <ul class='span12'>
	                <li{% if active == 'pending_expressions' %} class='active' {% endif %}>
	                {{ anchor('/expression/pending/', 'Pending expressions') }}
	                </li>
	                <li{% if active == 'pending_media' %} class='active' {% endif %}>
	                {{ anchor('/media/pending/', 'Pending media') }}
	                </li>
	                <li{% if active == 'edit_expressions' %} class='active' {% endif %}>
	                {{ anchor('/expression/edit', 'Edit expressions') }}
	                </li>
	                <li{% if active == 'profile' %} class='active' {% endif %}>
	                {{ anchor('/moderators/profile', 'My profile') }}
	                </li>
	            </ul>
	        </div>
	    </div>
    </div>
</section>
