<section id='header'>
    <div class='container-fluid'>
        <div class='row-fluid'>
            <div class='span12'>
	            <h2>{{ anchor('/auth/', 'Moderators') }}</h2>
	            {% if is_logged_in == true %}
	            <span style='display :inline; float: right; position: fixed; top: 5%; right: 5%;'>
	                {{ anchor('auth/logout', 'Logout', 'class="btn btn-warning"') }}
	            </span>
	            {% endif %}
	        </div>
	    </div>
    </div>
</section>
<section id='messages'>
    <div class='container-fluid'>
    	{% if success is defined and success is not empty %}
			<div class='row-fluid'>
				<div class='span12'>
			{% if success[0] is defined %}
				{% for key, value in success %}
					<div class="alert alert-success" style='margin-bottom: 0px'>
						<button type="button" class="close" data-dismiss="alert">&times;</button>
		    			{{ value }}
		    		</div>
		   		{% endfor %}
		    {% else %}
					<div class="alert alert-success" style='margin-bottom: 0px'>
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						{{ success }}
					</div>
			{% endif %}
					<br />
				</div>
		    </div>
		{% endif %}
		{% if errors is defined and errors is not empty %}
			<div class='row-fluid'>
				<div class='span12'>
			{% if errors[0] is defined %}
				{% for key, value in errors %}
					<div class="alert alert-error" style='margin-bottom: 0px'>
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						{{ value }}
					</div>
				{% endfor %}
			{% else %}
					<div class="alert alert-error" style='margin-bottom: 0px'>
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						{{ errors }}
					</div>
			{% endif %}
					<br />
				</div>
			</div>
		{% endif %}
		{% if warning is defined and warning is not empty %}
			<div class='row-fluid'>
				<div class='span12'>
			{% if warning[0] is defined %}
				{% for key, value in warning %}
					<div class="alert" style='margin-bottom: 0px'>
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						{{ value }}
					</div>
				{% endfor %}
		    {% else %}
					<div class="alert" style='margin-bottom: 0px'>
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						{{ warning }}
					</div>
			{% endif %}
					<br />
				</div>
			</div>
		{% endif %}
    </div>
</section>
