<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- TODO: add language locale -->
        <meta http-equiv="content-language" content="en" />
        <title>{{ title }}</title>
        <meta name="author" content="TupiLabs">
		<meta name="keywords" content="learn portuguese, aprender portugues, portuguese translator, portuguese dictionary, Speak Like A Brazilian" />
        <meta name="description" content="Your place to learn common daily Brazilian Portuguese expressions and slangs">
        <meta property="og:image" content="{base_url}assets/img/icon-facebook.gif" />
        <meta property="og:title" content="Speak Like A Brazilian" />
		<meta property="og:site_name" content="Speak Like A Brazilian" />
        <link rel="shortcut icon" type="image/x-icon" href="{{ base_url }}favicon.ico">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <!-- Apple devices fullscreen -->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <!-- Apple devices fullscreen -->
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <!-- Apple devices Homescreen icon -->
        <link rel="apple-touch-icon-precomposed" href="{{ base_url('img/apple-touch-icon-precomposed.png') }}" />
        <!-- Lato Google Font -->
        <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ base_url('css/bootstrap.min.css') }}">
        <!-- Bootstrap responsive -->
        <link rel="stylesheet" href="{{ base_url('css/bootstrap-responsive.min.css') }}">
        <!-- extra CSS-->
        {% for c in css %}
        <link rel="stylesheet" href="{{ base_url('css/' + c) }}">
       	{%  endfor %}
		<!-- // extra CSS-->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
		<link rel="stylesheet" href="{{ base_url('css/default.css') }}">
		</style>
		<script type='text/javascript' src="{{ base_url('js/jquery.js') }}"></script>
    </head>
    <body>
       	{% block header %}
			{% include '_layouts/auth/header.html.twig' %}
		{% endblock %}
		{% block content %}
			Empty page
		{% endblock %}
		{% block footer %}
			{% include '_layouts/auth/footer.html.twig' %}
		{% endblock %}
		
		<script type='text/javascript' src="{{ base_url('js/bootstrap.min.js') }}"></script>
		<script type='text/javascript' src="{{ base_url('js/bootstrap-button.js') }}"></script>
		<script type='text/javascript' src="{{ base_url('js/plugins/blockui/jquery.blockUI.js') }}"></script>
		<script type='text/javascript' src="{{ base_url('js/plugins/colorbox/jquery.colorbox.js') }}"></script>
		<script type='text/javascript' src="{{ base_url('js/plugins/jgrowl/jquery.jgrowl_minimized.js') }}"></script>
		<script type='text/javascript' src="{{ base_url('js/slbr.js') }}"></script>
    </body>
    </html>
</html>