{% extends '_layouts/blank/blank.html.twig' %}

{% block content %}
<section id='main' style="top: 0; left: 0;">
	<div class='container-fluid'>
		<div class="row-fluid">
			<div class="" id="embed">
				<div class='expression'>
					<h2 class="text">{{ expression.text }}</h2>
					<div class="description">
					{{ expression.description }}
					</div>
					<br />
					<h5>Examples</h5>
					<div class="examples">
					{{ expression.example }}
					</div>
					<br/>
					<div>
						<small>
							<span><strong>Permanent link</strong> {{ anchor(url) }}</span>
						</small>
					</div>
					<div class="authorship">
						
						<strong>By</strong> <span class="author box">@{{ expression.create_user }}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script type='text/javascript'>
templatecallback = function() {
	base_url = '{{ site_url('/') }}';
}
</script>
{% endblock %}