{% extends '_layouts/default/default.html.twig' %}

{% block content %}
<section id='main'>
	<div class='container'>
		<div class="row">
    		<div class='span10'>
    			<div class='row'>
    				<h2 class='subtitle'>Pending expressions</h2>
    			</div>
    			<div class='row'>
    				{% if expression is defined and expression is not empty %}
    				<div class='span8 offset1'>
    					<div class='entry'>
							<div class="authorship">
								<strong>By</strong> <span class="author box">{{ expression.create_user }}</span> 
								<strong>on</strong> <span class="box">{{ expression.create_date }}</span>
							</div>
							<br/>
							<div class='text'>
								<div>
									{{ form_open(current_url(), {'class': 'form-horizontal', 'id': 'a_form'}) }}
									<input type="hidden" name="expression_id" id="expression_id" value="{{ expression.id }}" />
									<div class="control-group">
										{{ form_label('Expression', 'expression', {'class': 'control-label'}) }}
										<div class="controls">
											{{ form_input({'id': 'expression', 'name': 'expression', 'style': 'width: 95%;'}, expression.text) }}
											<span style='color: red;'>{{ form_error('expression') }} {{ errors['expression'] }}</span>
										</div>
									</div>
									<div class="control-group">
										{{ form_label('Definition', 'definition', {'class': 'control-label'}) }}
										<div class="controls">
											{{ form_textarea({'id': 'definition', 'name': 'definition', 'style': 'width: 95%;'}, urldecode(expression.description)) }}
											<span style='color: red;'>{{ form_error('definition') }} {{ errors['definition'] }}</span>
										</div>
									</div>
									<div class="control-group">
										{{ form_label('Example', 'example', {'class': 'control-label'}) }}
										<div class="controls">
											{{ form_textarea({'id': 'example', 'name': 'example', 'style': 'width: 95%'}, urldecode(expression.example)) }}
											<span style='color: red;'>{{ form_error('example') }} {{ errors['example'] }}</span>
										</div>
									</div>
									<div class="control-group">
										{{ form_label('Tags', 'tags', {'class': 'control-label'}) }}
										<div class="controls">
											{{ form_input({'id': 'tags', 'name': 'tags', 'style': 'width: 95%'}, expression.tags) }}
											<span style='color: red;'>{{ form_error('tags') }} {{ errors['tags'] }}</span>
										</div>
									</div>
									<hr />
									<div class="row">
										<div class="" style="text-align: center;">
											{{ form_submit({'id': 'approve', 'name': 'approve'}, 'Publish', 'class="btn btn-success"') }}
											<button id='skip' name='skip' class='btn btn-warning'>Skip</button>
											<button id='reject' name='reject' class='btn btn-danger'>Reject</button>
										</div>
									</div>
									{{ form_close() }}
								</div>
							</div>
						</div>
						<div style="display:none">
							{{ form_open(current_url(), {'class': 'form-horizontal', 'id': 'r_form'}) }}
								<input type="hidden" name="expression_id" id="expression_id" value="{{ expression.id }}" />
								<input type="hidden" name="definition_id" id="definition_id" value="{{ expression.definition_id }}" />
							{{ form_close() }}
						</div>
    				</div>
    				{% else %}
    				<p>No pending expressions</p>
    				{% endif %}
    			</div>
    		</div>
    		{# 2 columns wide #}
    		{% include '_layouts/default/sidebar.html.twig' %}
		</div>
	</div>
</section>
<script type='text/javascript'>
templatecallback = function() {
	base_url = '{{ site_url('/') }}';

	$('button#skip').click(function() {
	    window.location = '{{ base_url() }}expression/pending';
	});

	$('#approve').click(function() {
	    $('form#a_form').attr('action', '{{ base_url() }}expression/approve/{{ expression.definition_id }}');
	    $('form#a_form').submit();
	});

	$("#reject").click(function() {
		$(this).attr("disabled", true).text("Please wait...");
		if (confirm("Are you sure?")) { 
			var form = $("form#r_form");
			form.attr('action', '{{ base_url() }}expression/reject');
			form.submit();
		} else {
			$(this).attr("disabled", false).text('Reject');
		}
		return false;
	});
}
</script>
{% endblock %}